﻿@model DbShop.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row-one widgettable">
    <div class="col-md-12 content-top-2 card">
        <div class="agileinfo-cdr">
            <div class="card-header">
                <h3>Product Details</h3>
                <hr/>
            </div>
            <div>
                <ul>
                    @foreach (var item in Model.ProductImages)
                    {
                        <img src="@Url.Content("~/ProductImage/" + item.ImagePath)" style="height: 150px; width: 150px"/>
                    }
                </ul>
                <br/>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Product Name</th>
                        <td>@Html.DisplayFor(item => Model.Name)</td>
                    </tr>
                    <tr>
                        <th>Product Price</th>
                        <td>@Html.DisplayFor(item => Model.Price)</td>
                    </tr>
                    <tr>
                        <th>Product Brand</th>
                        <td>@Html.DisplayFor(item => Model.Brand)</td>
                    </tr>
                    <tr>
                        <th>Product Description</th>
                        <td> @Html.Raw(Model.Description)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
