﻿@model IEnumerable<DbShop.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int sl = 1;
}
<div class="row-one widgettable">
    <div class="col-md-12 content-top-2 card">
        <div class="agileinfo-cdr">
            <div class="card-header">
                <h3>Products</h3>
                <p>
                    @Html.ActionLink("Create New Product", "Create")
                </p>
                <hr/>
            </div>
            <table class="table table-bordered table-striped" id="myTable">
                <thead>
                <tr>
                    <th>
                      SL  
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FilePath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryId)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(sl++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td>
                                <img src="@Url.Content("~/ProductImage/" + item.FilePath)" style="height: 100px; width: 100px;"/>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

