﻿@model DbShop.ViewModel.BannerImageViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row-one widgettable">
    <div class="col-md-12 content-top-2 card">
        <div class="agileinfo-cdr">
            <div class="card-header">
                <h3>Banner Details</h3>
                <hr />
            </div>
            <img src="@Url.Content("~/BannerImage/" + Model.ImagePath)" style="height: 150px; width: 150px;"/><br/>
            @Html.DisplayFor(model => model.Title)<br/>
            @Html.DisplayFor(model => model.Discount)
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div>
    </div>
    <div class="clearfix"> </div>
</div>
