﻿@model IEnumerable<DbShop.ViewModel.BannerImageViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int sl = 1;
}

<div class="row-one widgettable">
    <div class="col-md-12 content-top-2 card">
        <div class="agileinfo-cdr">
            <div class="card-header">
                <h3>Banner</h3>
                <p>
                    @Html.ActionLink("Create New Bannder", "Create")
                </p>
                <hr />
            </div>
            <table class="table table-bordered table-striped" id="myTable">
                <thead>
                <tr>
                    <th>
                        SL
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImagePath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Discount)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(sl++)
                        </td>
                        <td>
                            <img src="@Url.Content("~/BannerImage/"+ item.ImagePath)" style="width: 80px; height: 80px;" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
