﻿
@using DbShop.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DbShop | Login </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="stylesheet" href="~/LoginDesign/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/LoginDesign/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/LoginDesign/css/slicknav.css">
    <link rel="stylesheet" href="~/LoginDesign/css/animate.css">
    <link rel="stylesheet" href="~/LoginDesign/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/LoginDesign/css/normalize.css">
    <link rel="stylesheet" href="~/LoginDesign/style.css">
    <script src="~/LoginDesign/js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login_design_wrapper">
                    <div class="login_design">
                        <h3>Sign In</h3>
                        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class="form-group">
                                <div>
                                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Sign In</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/LoginDesign/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/LoginDesign/js/plugins.js"></script>
    <script src="~/LoginDesign/js/bootstrap.min.js"></script>
    <script src="~/LoginDesign/js/jquery.slicknav.min.js"></script>
    <script src="~/LoginDesign/js/owl.carousel.min.js"></script>
    <script src="~/LoginDesign/js/wow.min.js"></script>
    <script src="~/LoginDesign/js/jquery.fitvids.js"></script>
    <script src="~/LoginDesign/js/main.js"></script>
</body>
</html>
