﻿@using DbShop.Models
@model DbShop.ViewModel.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(function () {

    });
</script>

<h3>
    <em>Review</em> your cart:
</h3>

<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Image
        </th>
        <th>
            Album Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.RecorId">
            <td>
                @item.Product.Name
            </td>
            <td>
                @item.Product.Price
            </td>
            <td id="item-count-@item.RecorId">
                @item.Count
            </td>
            <td>
                
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td>Total: @Model.CartItems.Count</td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>